DATABASE_URL=
OBJECT_STORAGE_ENDPOINT=
OBJECT_STORAGE_REGION=
OBJECT_STORAGE_BUCKET=
OBJECT_STORAGE_ACCESS_KEY_ID=
OBJECT_STORAGE_SECRET_ACCESS_KEY=
OBJECT_STORAGE_SIGNED_URL_TTL_SECONDS=300
AUTH_MODE=dev
BOUQUET_AUTH_BASE_URL=https://bloombouquet.https.gsmsv.site
BOUQUET_AUTH_CLIENT_ID=
BOUQUET_AUTH_REDIRECT_URI=
BOUQUET_SESSION_TTL_SECONDS=604800
